*,*::after,*::before{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
  color: white;
  text-shadow: 5px 5px 10px black;
  margin:10px 0;
  text-align: center;
  padding:20px 0;
  background-color: lightgreen;
}
.carousel{
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.carousel-container{
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
}

.slide{
  display: none;
}
.slide img{
  width: 100%;
  border-radius: 10px;
}

.btn{
color:rgba(0,0,0,0.5);
font-size: 50px;;
position: absolute;
top:50%;
transform: translateY(-50%);
cursor: pointer;
}
.btn:hover{
  color:rgba(0,0,0,1);
}
.left-btn{
  left:0%;
}
.right-btn{
  right:0%;
}

.dots{
  margin: 10px 0;
  text-align: center;
}

.dot{
  display: inline-block;
  height: 25px;
  width: 25px;
  display: inline-block;
  background-color: #bbb;
  border-radius: 50%;
}
.active, .dot:hover{
  background-color:rgba(0,0,0,0.5);
}
